/* Merriweather font added */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
    font-family: "Merriweather", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* banner section start here */
.banner-container {
    max-width: 1420px;
    margin: 0 auto;
    height: 600px;
    margin-top: 20px;
    background-image: url("../images/images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-position: center;

}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

.banner-content h4 {
    font-size: 32px;
    color: #FFFFFF;
}

.banner-content h2 {
    font-size: 72px;
    color: #FFFFFF;
}

