/* Merriweather font added */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
    font-family: "Merriweather", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* banner section start here */
.banner-container {
    max-width: 1420px;
    margin: 0 auto;
    height: 600px;
    margin-top: 20px;
    background-image: url("../images/images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-position: center;

}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

.banner-content h4 {
    font-size: 32px;
    color: #FFFFFF;
}

.banner-content h2 {
    font-size: 72px;
    color: #FFFFFF;
}

/* 65% OFF section start here */
.second-container {
    height: 900px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 120px;
}

.content-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section-text h1 {
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
}

.content-section-text p {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}

.content-section-text h3 {
    font-size: 48px;
    font-weight: bold;
    color: #070211;
}

.second-contant-img {
    width: 800px;
    height: 650px;
    margin-left: 70px;
    margin-top: 30px;
}

.second-contant-img img {
    width: 100%;
    height: 100%;
}

/* Midnight party section here */
.Midnight-container {
    height: 600px;
    width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.midnight-left-text {
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.midnight-left-text h1 {
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
}

.midnight-left-text p {
    font-size: 18px;
    margin-top: 24px;
    margin-left: 80px;
    color: #FFFFFF;

}

.btn-primary {
    padding: 18px 35px;
    color: white;
    background-color: #FF0000;
    border-radius: 5px;
    border: none;
    margin-right: 350px;
    margin-top: 25px;
}

.midnight-right-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}