/* Merriweather font added */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
    font-family: "Merriweather", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* banner section start here */
.banner-container {
    max-width: 1420px;
    margin: 0 auto;
    height: 600px;
    margin-top: 20px;
    background-image: url("../images/images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    background-position: center;

}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

.banner-content h4 {
    font-size: 32px;
    color: #FFFFFF;
}

.banner-content h2 {
    font-size: 72px;
    color: #FFFFFF;
}

/* 65% OFF section start here */
.second-container {
    height: 900px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 120px;
}

.content-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section-text h1 {
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
}

.content-section-text p {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}

.content-section-text h3 {
    font-size: 48px;
    font-weight: bold;
    color: #070211;
}

.second-contant-img {
    width: 800px;
    height: 650px;
    margin-left: 70px;
    margin-top: 30px;
}

.second-contant-img img {
    width: 100%;
    height: 100%;
}

/* Midnight party section here */
.Midnight-container {
    height: 600px;
    width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.midnight-left-text {
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.midnight-left-text h1 {
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
}

.midnight-left-text p {
    font-size: 18px;
    margin-top: 24px;
    margin-left: 80px;
    color: #FFFFFF;

}

.btn-primary {
    padding: 18px 35px;
    color: white;
    background-color: #FF0000;
    border-radius: 5px;
    border: none;
    margin-right: 350px;
    margin-top: 25px;
}

.midnight-right-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* new park hotel section  */
.Hotel-container {
    width: 1400px;
    height: 450px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hotel-section-title {
    font-size: 32px;
    width: 600;
}

.hotel-containt {
    width: 550px;
    height: 272px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.hotel-contant-text {
    color: #FF0000;
}

.hotel-containt button {
    margin-right: 50px;
}

/* NEW BEST OFFER section start here */
.best-offer-container {
    height: 463px;
    width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.fast-part {
    width: 33.3%;
    height: 463px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.fast-part h4 {
    font-size: 24px;
    font-weight: 600;
    color: #FF0000;
    margin-right: 245px;
}

.fast-part h2 {
    font-size: 49px;
    font-weight: 900;
    margin-top: 10px;
    margin-right: 135px;
}

.fast-part p {
    font-size: 20px;
    color: #070211;
    font-weight: 400;
    margin-top: 20px;
}

.second-part {
    width: 33.3%;
    height: 463px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid red;
    border-radius: 50%;
    object-fit: cover;

}

.second-part img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-part {
    width: 33.3%;
    height: 463px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.third-part h2 {
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
    margin-right: 200px;
}

.third-part p {
    font-size: 20px;
    margin-left: 70px;
}

.third-part img {
    margin-right: 200px;
}

/* Holidays Sale 50% section start here*/
.holiday-section-container {
    height: 980px;
    width: 1400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
}

.holiday-container-text {
    height: 260px;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.holiday-container-text h4 {
    font-size: 24px;
}

.holiday-container-text h1 {
    font-size: 72px;
}

.holiday-container-text p {
    font-size: 20px;
    color: #070211;
}

.holiday-container-text span {
    color: #FF0000;
}

.color-content {
    width: 1400px;
    height: 230px;
    background-color: #FF0000;
    position: absolute;
    top: 77%;
    border-radius: 15px;
}

.gift-box {
    width: 577px;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 8%;
}

.img-new-year {
    width: 577px;
    height: 674px;
    position: absolute;
    z-index: 1;
    left: 115%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
}

.img-new-year img {
    width: 500px;
    height: 510px;
}

.discount {
    position: absolute;
    left: 50%;
    z-index: 1;
}

/*Our Awesome Portfolio section start here */

.Portfolio-section-container {
    width: 1400px;
    height: 1150px;
    margin: 0 auto;
}

.portfolio-content-text h4 {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;

}

.portfolio-content-text h2 {
    font-size: 48px;
    font-weight: 600;
    margin: 15px 0 15px 0;
}

.portfolio-content-text {
    font-size: 20px;
    font-weight: 500;
    color: #070211;
    width: 896px;
    margin-bottom: 50px;
}

.items {
    width: 424px;
    height: 470px;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.items img {
    width: 100%;
    height: 100%;
}